.invisible{
    opacity: 0;
}

div.user{
    font-weight: bold;
    height: 20vh;
    text-align: left;
    padding-left: 2.5vw;
    padding-top: 5vh;
}

.editText{
    text-align: left;
    padding-left: 2.5vw;
}

.editdiv{
    padding-left: 4vw;
}

.infodiv{
    padding-left: 4vw;
}

.infosub{
    background-color:rgb(0, 0, 0);
    color: lightblue;
    height: 5vh;
    width: 10vw;
    border-radius: 1.0vh;
    font-weight: bold;
}

.checkdiv{
    padding-left: 7vw;
    padding-bottom: 1vh;
}

label{
    color:black;
}

.mealclass{
    padding-top: 2vh;
    display: flex;
    justify-content: center;
}

 .inputdate{
   height: 4vh;
   border-radius: 1.0vh;
   width: 9vw;
}
.inputcalories{
    border-radius: 1.0vh;
   width: 4vw;  
}

.inputmeals{
    width: 20vw;
    border-radius: 1.0vh;
}

button.mealssubbutton{
    margin-left: 2vw;
    margin-top: 0;
 
}

[name=meallabel]{
    padding-right: 1vw;
    padding-left:1vw;
    padding-top: 1vh;
}

[name=callabel]{
    padding-right: 1vw;
    padding-left: 1vw;
    padding-top: 1vh;
}

[name=date]{
    padding-top: 1vh;
    padding-right: 1vw;


}

.userpage{
    display: flex;
    align-items: center;

}
/*
.pickdate{
    display: block;
}
*/
.disappear{
    display:none;
}