.invisible{
    opacity: 0;
    padding-right: 1vw;
}

div.user{
    font-weight: bold;
    text-align: left;
    padding-top: 1vh;
    font-size: 3.0vh;
    line-height: 5.5vh;
}

.editText{
    line-height: 3vh;
    display: flex;
    height: 40vh;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(69,226,238,0.4741246840533089) 100%);

    border: 0.5vh solid lightskyblue;
    justify-content: flex-end;


    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
box-shadow: 5px 5px 15px 5px #000000;




}

.editdiv{

   padding-top: 4vh;

}

.infodiv{
    padding-left: 4vw;
}

.infosub{
    background-color:rgb(0, 0, 0);
    color: lightblue;
    height: 5vh;
    width: 7vw;
    border-radius: 1.0vh;
    font-weight: bold;
  margin-right: 3vw;
}

label{
    color:black;
}

.mealclass{
    padding-top: 2vh;
    display: flex;
    justify-content: center;
}

 .inputdate{
   height: 4vh;
   border-radius: 1.0vh;
   width: 14vw;
   text-align: center;
}


.inputmeals{
    width: 20vw;
    border-radius: 1.0vh;
}

button.mealssubbutton{
    margin-top: 0;
 
}

[name=meallabel]{
    padding-right: 1vw;
    padding-left:1vw;
    padding-top: 1vh;
}


[name=date]{
    padding-top: 1vh;
    padding-right: 1vw;


}

.userpage{
    display: block;
    align-items: center;
    justify-content: space-around;

}
/*
.pickdate{
    display: block;
}
*/
.disappear{
    display:none;
}

.meals{
    display: flex;
 
}

.fooddiv{
    display: flex;
    justify-content: space-around;
}

[name=editbutton]{
    width: 4vw;
    margin-top: 10vh;
    background-image: linear-gradient(45deg, #101070 0%, #00328f 11%, #004ca8 22%,
     #0065b8 33%, #007ebd 44%, #0097bd 56%, #00aab3 67%, #00c2a8 78%, #00d69a 89%, #77e98e 100%);
}

.editVisible{
    padding-top: 1vh;
    padding-right: 1vw;
    font-weight: bold;
    font-size: 2.5vh;
    line-height: 3.5vh;
}

.heightinput{
    border-radius: 0.5vh;
    width: 6vw;
    height: 3vh;
    margin-bottom: 1vh;
}

.weightinput{
    border-radius: 0.5vh;
    width: 6vw;
    margin-bottom: 1vh;
    height: 3vh;
}

.birthdateinput{
    border-radius: 0.5vh;
    width: 10vw;
    height: 4vh;
    margin-bottom: 1vh;
    text-align: center;
    padding-left: 2vw;
}

.signout{
    display: block;
}

.errorMessage{
    width: 100%;
    height: 100vh;
    font-weight: bold;
    font-size: 10vw;
    padding-top: 25vh; 
    background-image: linear-gradient(45deg, #101070 0%, #00328f 11%, #004ca8 22%,
    #0065b8 33%, #007ebd 44%, #0097bd 56%, #00aab3 67%, #00c2a8 78%, #00d69a 89%, #77e98e 100%);


}

.errorUserInfo{
    width:100%;
    font-size: 5vw;
    padding-top: 18vh;
}

.userInfoError{
    height: 30vh;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(69,226,238,0.4741246840533089) 100%);
}

.infomessage{
    font-weight:bold;
    font-size: 5vh;
    padding-top:10vh;
}

.infoDiv{
    display:flex;
}

[name=infoErrorDiv]{
    border: solid black;
    padding: 4vh;
    width: 28vw;
    margin-right: -13vw;
    margin-left:1vw;
    margin-top: 7vh;
    height: 15vh;
    -webkit-box-shadow: 16px 14px 15px 5px #000000; 
    box-shadow: 16px 14px 15px 5px #000000;
    overflow-y: auto;
    font-weight:bold;
    font-size: 3vh;
    background:  rgba(69,226,238,0.4741246840533089);
}

[name=submitError]{
    border: solid black;
    padding: 4vh;
    width: 28vw;
    margin-right: -13vw;
    margin-left:1vw;
    margin-top: 7vh;
    height: 15vh;
    -webkit-box-shadow: 16px 14px 15px 5px #000000; 
    box-shadow: 16px 14px 15px 5px #000000;
    overflow-y: auto;
    font-weight:bold;
    font-size: 3vh;
    background:  rgba(69,226,238,0.4741246840533089);
}