.invisible{
    opacity: 0;
    padding-right: 1vw;
}

div.user{
    font-weight: bold;
    text-align: left;
    padding-top: 5vh;
    font-size: 2.5vh;
    line-height: 4vh;
}

.editText{
    line-height: 3vh;
    display: flex;
    height: 35vh;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(69,226,238,0.4741246840533089) 100%);

    border: 0.5vh solid lightskyblue;
    justify-content: flex-end;


    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
box-shadow: 5px 5px 15px 5px #000000;




}

.editdiv{
   // padding-left: 4vw;
   padding-top: 4vh;
}

.infodiv{
    padding-left: 4vw;
}

.infosub{
    background-color:rgb(0, 0, 0);
    color: lightblue;
    height: 5vh;
    width: 7vw;
    border-radius: 1.0vh;
    font-weight: bold;
    margin-right: 3vw;
}

label{
    color:black;
}

.mealclass{
    padding-top: 2vh;
    display: flex;
    justify-content: center;
}

 .inputdate{
   height: 4vh;
   border-radius: 1.0vh;
   width: 14vw;
}


.inputmeals{
    width: 20vw;
    border-radius: 1.0vh;
}

button.mealssubbutton{
    margin-top: 0;
 
}

[name=meallabel]{
    padding-right: 1vw;
    padding-left:1vw;
    padding-top: 1vh;
}


[name=date]{
    padding-top: 1vh;
    padding-right: 1vw;


}

.userpage{
    display: block;
    align-items: center;
    justify-content: space-around;

}
/*
.pickdate{
    display: block;
}
*/
.disappear{
    display:none;
}

.meals{
    display: flex;
 
}

.fooddiv{
    display: flex;
    justify-content: space-around;
}

[name=editbutton]{
    width: 4vw;
    margin-left: 1vw;
    margin-top: 10vh;
    background-image: linear-gradient(45deg, #101070 0%, #00328f 11%, #004ca8 22%,
     #0065b8 33%, #007ebd 44%, #0097bd 56%, #00aab3 67%, #00c2a8 78%, #00d69a 89%, #77e98e 100%);
}

.editVisible{
    padding-top: 2vh;
    padding-right: 1vw;
}

.heightinput{
    border-radius: 0.5vh;
    width: 6vw;
}

.weightinput{
    border-radius: 0.5vh;
    width: 6vw;
}

.birthdateinput{
    border-radius: 0.5vh;
    width: 13vw;
    height: 3vh;
}
